<div class="container" style="margin: 70px auto;">
    <div class="row">
        <diV class="col d-flex flex-row justify-content-between p-4">
            <p class="text-right">
                Hola {{ usuario }} !
            </p>
            <a class="btn btn-danger" href="/admin/login/logout">
                Cerrar Sesión <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>
    <div id="modificar" class="row" style="display: none;">
        <diV class="col">
            <form action="/admin/entradas/modificar" method="POST" enctype="multipart/form-data"> 
                <input type="hidden" id="id" name="id" value="{{entrada.id}}">
                <input type="hidden" id="media" name="media" value="{{entrada.media}}">
                <div class="form-group">
                    <label for="titulo" class="form-label">Titulo o URL Portafolio</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" value="{{entrada.titulo}}">
                </div>
                <div class="form-group">
                    <label for="tiempo" class="form-label">Tiempo</label>
                    <input type="text" class="form-control" id="tiempo" name="tiempo" value="{{entrada.tiempo}}">
                </div>
                <div class="form-group">
                    <div class="form-label">Imagen Actual</div>
                    {{{imagen}}}
                </div>
                <div class="form-group">
                    <label for="media" class="form-label">Media URL</label>
                    <input type="file" class="form-control" id="imagen" name="imagen" value="{{entrada.imagen}}">
                </div>
                <div class="form-group">
                    <label for="texto" class="form-label">Texto</label>
                    <textarea class="form-control" id="texto" name="texto" rows="3">{{entrada.texto}}</textarea>
                </div>
                <div class="form-group">
                    <label for="tipo" class="form-label">Tipo de Entrada</label>
                    <select id="tipo" name="tipo" class="form-select" >
                        {{#each categorias}}
                            <option value="{{nombre}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group d-flex justify-content-center p-2">
                    <button type="submit" class="btn btn-primary">Modificar</button>
                </div>
            </form>
        </div>
    </div>
    <div id="nuevo" class="row" style="display: none;">
        <diV class="col">
            <form action="/admin/entradas/nuevo" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="titulo" class="form-label">Titulo o URL Portafolio</label>
                    <input type="text" class="form-control" id="titulo" name="titulo">
                </div>
                <div class="form-group">
                    <label for="tiempo" class="form-label">Tiempo</label>
                    <input type="text" class="form-control" id="tiempo" name="tiempo">
                </div>
                 <div class="form-group">
                    <label for="media" class="form-label">Media URL</label>
                    <input type="file" class="form-control" id="media" name="media">
                </div>
                <div class="form-group">
                    <label for="texto" class="form-label">Texto</label>
                    <textarea class="form-control" id="texto" name="texto" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="tipo" class="form-label">Tipo de Entrada</label>
                    <select name="tipo" class="form-select">
                        <option selected style="display: none;">Selecciona un tipo</option>
                        {{#each categorias}}
                            <option value="{{nombre}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group d-flex justify-content-center p-2">
                    <button type="submit" class="btn btn-primary">Nuevo</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const accion = "{{accion}}";

    if(accion === 'modificar') {
        document.getElementById('modificar').style.display = 'block'
        document.getElementById('nuevo').style.display = 'none'
        document.getElementById('tipo').value = "{{entrada.tipo}}";
    } else {
        document.getElementById('modificar').style.display = 'none'
        document.getElementById('nuevo').style.display = 'block'
    }

    

</script>